@import './scss/Banner/Banner';
@import './scss/Header/Header';
@import './scss/StakeingOptions/StakeingOptions';
@import './scss/Footer/Footer';

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.stakepool-banner-form-container {
    .stakepool-banner-input-label {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', 'Quicksand', sans-serif !important;
    }
    .form-footer-text {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', 'Quicksand', sans-serif !important;
    }
}

.logo-image {
    width: 150px;
}

.main-page-container {
    width: 100%;
    background-color: #f9fbfe;
}
.home-container {
    max-width: 1140px;
    margin: 0 auto;
}
