@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*@import url('https://www.wfonts.com/download/data/2016/10/21/hk-grotesk/HKGrotesk-Bold.otf');*/
/*@import url('https://www.wfonts.com/download/data/2016/06/13/leelawadee-ui/LeelaUIb.ttf');*/
/*@import url('https://ufonts.com/fonts/leelawadee-ui-bold.html');*/
@font-face {
    font-family: 'Leelawadee UI';
    src: local('Leelawadee UI'),
        url(../fonts/leelawadee-ui-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'HKGrotesk-Bold';
    src: local('HKGrotesk-Bold'),
        url(../fonts/hkgrotesk-bold.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield !important;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200&display=swap');

:root {
    --text-font: 'Poppins', sans-serif;
}
* {
    font-family: var(--text-font) !important;
}
.into-text {
    font-weight: inherit;
    font-size: 250%;
    color: #fff;
    font-family: none !important;
    padding-top: 5% !important;
}
.card-body {
    padding-top: 5% !important;
    padding-bottom: 5% !important;
}
.staking-options {
    font-family: none !important;
    color: rgb(24, 59, 86);
    display: block;
    font-size: 250%;
    font-weight: bolder;
}
.try-stakepool {
    color: rgb(255, 255, 255);
    font-family: none !important;
    font-size: 250%;
}
.stake-button {
    font-family: none !important;
}
.header-stats {
    font-size: 250%;
    font-family: none !important;
    padding-top: 5%;
    color: rgb(255, 255, 255);
}
.accounts-header {
    font-family: none !important;
}
.error-message-container {
    padding-top: 2% !important;
    border-radius: unset !important;
    padding-bottom: 2% !important;
    border: none !important;
}
.sweet-footer-container .swal-footer {
    text-align: center !important;
}
.transaction-container {
    display: block;
    background: #e9ecef;
    border: 1px solid #e9ecef;
    border-radius: 4px;
    padding: 10px;
    word-break: break-all;
}
.transaction-container p {
    word-break: break-all;
}
